#concertDetailsPage.concertEditorPage {
  .title {
    border: 1px solid black;
    padding: 0 1rem;
    border-radius: 4px;
    margin-bottom: 0.25rem;
    display: block;

    &:has(.titleH:focus) {
      outline: 1px solid black;
    }

    display: grid;
    place-items: center;
    * {
      grid-area: 1 / 1;
    }
    .titleH {
      width: 100%;
      margin: 0;
      outline: none !important;
      overflow-wrap: inherit;
    }
    .placeholder {
      color: #aaa;
      pointer-events: none;
      &.hidden {
        display: none;
      }
    }
  }

  .when {
    font-size: 12pt;
  }

  .posterWrap {
    position: relative;
  }
  .posterControlsWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: #aaaa;

    & label {
      user-select: none;
      width: 100%;
      height: 100%;
      cursor: pointer;
      display: grid;
      place-items: center;

      & span {
        background: #fffc;
        border: none;
        border-radius: 4px;
        padding: 0.5em 1em;
        font-size: 14pt;
      }
    }
  }

  #posterInput {
    display: none;
  }

  .programme {
    // not sure why this is required
    margin-bottom: -1em;
  }

  .programmeItems {
    li {
      margin-bottom: 1.5em;
      position: relative;
      .actions {
        position: absolute;
        top: -5px;
        left: -50px;
      }

      .inputs {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        input {
          font-size: 12pt;
          width: min(77vw, 600px);
        }
      }
    }
  }
}
