.concertDetails {
  display: grid;
  place-items: center;
  text-align: center;
  gap: 1em;

  & .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    padding: 0.5rem;
    cursor: pointer;
  }

  & .posterWrap {
    flex-grow: 1;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    margin-top: 1em;
  }

  & .poster {
    background: white center / cover;
    aspect-ratio: 3/4;
    max-height: min(65lvh, 120vw);
    border-radius: 8px;
  }

  & h2 {
    font-size: 24pt;
    margin: 0;
  }
}
