.concertDetails {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  background-color: #0004;
  display: grid;
  place-items: center;

  & .popupInner {
    position: relative;
    $p: 1rem;
    width: min(calc(95vw - $p * 2), 600px);
    @media screen and (min-width: 800px) {
      width: 700px;
    }
    height: min(85lvh, 160vw);
    border-radius: 8px;
    padding: $p;
    background: white;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  & .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    padding: 0.5rem;
    cursor: pointer;
  }

  & .posterWrap {
    flex-grow: 1;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    margin-top: 1em;
  }

  & .poster {
    background: white center / cover;
    aspect-ratio: 3/4;
    max-height: min(65lvh, 120vw);
    border-radius: 8px;
  }

  & h3 {
    margin: 0 0 -0.5rem;
  }
}

body.modal {
  overflow: hidden;
  margin-right: var(--m);
}
