#concertDetailsPage {
  margin-top: 120px;
  display: grid;
}

@mixin iconLink() {
  display: flex;
  align-items: center;
  gap: 0.5ch;
  text-decoration: none;
  &:hover > :not(.material-symbols-outlined) {
    text-decoration: underline;
  }
}

.concertDetails {
  justify-self: center;
  display: grid;
  place-items: center;
  text-align: center;
  gap: 1em;
  width: min(90%, 700px);

  & .backButton {
    justify-self: start;
    color: #cc3232 !important;
    @include iconLink();
  }

  & .posterWrap {
    flex-grow: 1;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    margin-top: 1em;
  }

  & .poster {
    background: white center / cover;
    aspect-ratio: 3/4;
    max-height: min(65lvh, 120vw);
    border-radius: 8px;

    box-shadow: 1px 0px 0px 1px #0001, 3px 1px 8px 0px #0003;
  }

  & .title {
    font-size: 24pt;
    margin: 0;
    overflow-wrap: anywhere;
  }

  & .adminControls {
    display: flex;
    gap: 1rem;
  }

  .programme {
    &.empty {
      display: none;
    }

    h3 {
      margin: 0 0 0.25rem;
    }
    ol {
      margin: 0;
      text-align: start;
      li {
        list-style: lower-roman;
      }
    }
  }

  .prevNextConcerts {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    padding: 1em 0;

    // if its only the next with no prev, move it to the right
    &:has(.nextConcert:nth-child(1)) {
      justify-content: end;
    }

    a {
      color: #cc3232 !important;
      @include iconLink();
    }
  }

  .mediaSection {
    // background-color: red;
    // height: 100px;
    // width: 100%;

    h3 {
      margin: 0 0 0.25rem;
    }

    & video {
      width: 100%;
      height: auto;
      max-height: 400px;
      object-fit: cover;
      border-radius: 8px;
      // box-shadow: 1px 0px 0px 1px #0001, 3px 1px 8px 0px #0003;
    }
  }
}
