@keyframes stroke-in {
  to {
    stroke-dashoffset: var(--to-length);
  }
}

@mixin stroked($length, $duration, $delay, $reverse: 0) {
  stroke-dasharray: $length;
  @if $reverse != 1 {
    stroke-dashoffset: 0;
    --to-length: #{$length};
  } @else {
    stroke-dashoffset: #{$length};
    --to-length: 0;
  }
  animation: stroke-in $duration $delay forwards;
}

@keyframes fade-in {
  to {
    fill-opacity: 0;
  }
}

@mixin faded($duration, $delay) {
  fill-opacity: 100;
  animation: fade-in $duration $delay forwards;
}
