.fbLink {
  display: flex;
  align-items: center;
  gap: 1ch;
  text-decoration: none;
  border: 1px solid #0866ff;
  border-radius: 99px 20px 20px 99px;
  width: fit-content;
  color: #0866ff !important;
  padding: 0.4em 1em 0.4em 0.5em;
  background: white;
  outline: 1px solid transparent;
  transition: outline 0.1s, background 0.1s;
  &:hover {
    background: #f1f1fa;
    outline: 1px solid #0866ff;
  }
}

@mixin adminButton {
  background-color: #e32cff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 12pt;
  padding: 0.5rem 1rem;
  min-width: 5em;
  transition: background-color 0.05s, transform 0.05s, box-shadow 0.05s;
  text-decoration: none !important;
  cursor: pointer;

  &:hover {
    background-color: #d329ee;
    box-shadow: 1px 1px 0px 1px #a619bc;
    outline: 1px solid #7a1f7a;
  }

  &:active {
    background-color: #ce2be8;
    box-shadow: none;
    transform: translate(2px, 2px);
  }

  &.outlined {
    background-color: white;
    color: #e32cff;
    border: 1px solid #e32cff;
    box-shadow: none;

    &:hover {
      background-color: #fafafa;
      // color: white;
      // box-shadow: 1px 1px 0px 1px #a619bc;
      // outline: 1px solid #7a1f7a;
    }
  }
}

// for extra convenience, a class is also defined
.adminButton {
  @include adminButton();
}

.adminBigButton {
  @include adminButton();
  display: block;
  text-decoration: none !important;
  text-align: center;
  padding: 1.25em 0em;
  $m: 2em;
  margin: $m;
  width: calc(100% - ($m * 2));
  font-size: 18pt;
}

.inpTextfield {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
  border: 1px solid #000;
  border-radius: 10px;

  label {
    font-size: 14pt;
    margin-bottom: 0.5rem;
  }

  input {
    border: none;
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.25rem;
    padding-bottom: 0.25rem;
    transition: border-bottom 0.1s;

    &:focus {
      outline: none;
      border-bottom: 1px solid #000;
    }
  }
}

.iconButton {
  background: none;
  border: none;
  $s: 24pt;
  width: $s;
  height: $s;
  display: grid;
  place-items: center;
  span {
    font-size: 16pt;
  }
  cursor: pointer;
  color: #000;
  transition: color 0.1s, background 0.1s, outline 0.1s;
  border-radius: 50%;
  outline: 1px solid transparent;
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    color: #333;
    background: #f1f1fa;
  }
  &:active:not(:disabled) {
    outline: 1px solid #777;
  }
  &:disabled {
    color: #aaa;
    cursor: not-allowed;
  }
}

.headingWithLink {
  display: flex;
  align-items: end;
  gap: 1ch;
  margin: 1.5em 0 1.25em;

  h1 {
    margin: 0;
  }

  a {
    color: #777;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}
