.fbLink {
  display: flex;
  align-items: center;
  gap: 1ch;
  text-decoration: none;
  border: 1px solid #0866ff;
  border-radius: 99px 20px 20px 99px;
  width: fit-content;
  color: #0866ff !important;
  padding: 0.4em 1em 0.4em 0.5em;
}
