.fbLink {
  display: flex;
  align-items: center;
  gap: 1ch;
  text-decoration: none;
  border: 1px solid #0866ff;
  border-radius: 99px 20px 20px 99px;
  width: fit-content;
  color: #0866ff !important;
  padding: 0.4em 1em 0.4em 0.5em;
}

.adminBigButton {
  display: block;
  text-decoration: none!important;
  text-align: center;
  padding: 1.25em 0em;
  $m: 2em;
  margin: $m;
  width: calc(100% - ($m * 2));
  background-color: #e32cff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18pt;
  transition: background-color 0.05s, transform 0.05s, box-shadow 0.05s;

  &:hover {
    background-color: #d329ee;
    box-shadow: 1px 1px 0px 1px #a619bc;
    outline: 1px solid #7a1f7a;
  }

  &:active {
    background-color: #ce2be8;
    box-shadow: none;
    transform: translate(2px, 2px);
  }
}

.inpTextfield {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
  border: 1px solid #000;
  border-radius: 10px;

  label {
    font-size: 14pt;
    margin-bottom: 0.5rem;
  }

  input {
    border: none;
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.25rem;
    padding-bottom: 0.25rem;
    transition: border-bottom 0.1s;

    &:focus {
      outline: none;
      border-bottom: 1px solid #000;
    }
  }
}