.concertsGrid {
  width: min(90%, 600px);
  margin: 120px auto 0;
  display: grid;
  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    width: min(90%, 900px);
  }
  gap: 1.2em;
}

.concertCard {
  display: grid;
  grid-template-columns: 1fr 2fr;
  $r: 8px;
  border-radius: $r;
  cursor: pointer;

  & .media {
    aspect-ratio: 4/3;
    background: white center / cover;
    border-radius: $r 0 0 $r;
  }

  & .info {
    padding: 0.5rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0 $r $r 0;
    border-left: none;
  }

  & .title,
  & .when {
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    max-height: 2.4em;
  }

  & .title {
    font-size: 1.1rem;
    font-weight: 600;
  }
  & .when {
    font-size: 14px;
  }

  transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;
  &:hover {
    box-shadow: 0 0 0 3px #eee;
    background: #eee;
  }
}

.concertDetails {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  background-color: #0004;
  display: grid;
  place-items: center;

  & .popupInner {
    position: relative;
    $p: 1rem;
    width: min(calc(95vw - $p * 2), 600px);
    @media screen and (min-width: 800px) {
      width: 700px;
    }
    height: min(85lvh, 160vw);
    border-radius: 8px;
    padding: $p;
    background: white;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  & .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    padding: 0.5rem;
    cursor: pointer;
  }

  & .posterWrap {
    flex-grow: 1;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    margin-top: 1em;
  }

  & .poster {
    background: white center / cover;
    aspect-ratio: 3/4;
    max-height: min(65lvh, 120vw);
    border-radius: 8px;
  }

  & h3 {
    margin: 0 0 -0.5rem;
  }
}

body.modal {
  overflow: hidden;
  margin-right: var(--m);
}
