@use "../../utils/utils.scss" as *;

#concertEditorPage {
}

#concertEditorPage form {
  width: min(400px, 80vw);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  .actionButtons {
    display: flex;
    gap: 1rem;
    justify-content: end;

    button {
    @include adminButton();
    //   border: none;
    //   font-size: 12pt;
    //   border-radius: 4px;
    }
  }
}
