@use "./modules/debug/debug.scss";
@use "./modules/home/home.scss";
@use "./modules/home/scrollAnims.scss";
@use "~noty/lib/noty.css";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
