@use "./lib/material-symbols-outlined.css";
@use "./modules/debug/debug.scss";
@use "./modules/home/home.scss";
@use "./modules/home/scrollAnims.scss";
@use "~noty/lib/noty.css";
@use "./modules/commonUI/noty.scss" as notyCustom;

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
