.t1 > section {
  height: 100%;
  background: #ea230c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoWrap {
    position: fixed;
  width: 100%;
  display: grid;
  justify-content: center;
  background: #ea230c;
}

.tagline {
    font-size: 1.5rem;
    padding: 0 1ch;
    overflow: hidden;
}

.t1 > section {
    background: white;
}