@use "../../utils/_animUtils.scss" as animUtils;

.t1 > section {
  height: 100%;
  background: #ea230c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoWrap {
  position: fixed;
  z-index: 10;
  width: 100%;
  display: grid;
  justify-content: center;
  background: #ea230c;
}

.tagline {
  font-size: 1.5rem;
  padding: 0 1ch;
  overflow: hidden;
  @media screen and (max-width: 400px) and (max-height: 600px) {
    font-size: 1.25rem;
  }
}

.upcomingCover {
  position: fixed;
  z-index: 3;
  background: #fff;
  top: 0;
  height: 100%;
  width: 100%;
}

.t2 > div {
  background: white;
  height: 100%;
}

.t3 > section {
  background: white;
  height: 100%;
}

h2 {
    margin: 0 0 0.5rem 0;
    font-size: 2.5rem;
    @media screen and (max-width: 500px) {
      font-size: 2rem;
    }
  }

.upcoming {
  padding: 2ch;
  margin: 0;
  // position: fixed;
  z-index: 1;
  width: calc(100% - 4ch);
  // top: 20lvh;
  // margin-top

  & .poster {
    width: 100%;
    max-width: 50lvh; // need to see it on one screen without scrolling
    aspect-ratio: 5/3;
    background: url("./rsrc/upcoming.jpg") center / cover;
    border-radius: 15px;
    margin-bottom: 1rem;
  }

  & .info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  & p,
  & a {
    margin: 0;
    font-size: 1.2rem;
    text-decoration: none;
  }

  & a {
    width: 250px;
  }

  & .primary {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: white;
    background: #55abda;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
      rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  }

  & .secondary {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background: white;
    color: #55abda;
    border: 1px solid #55abda;
  }

  @media screen and (min-width: 900px) {
    & .row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
    }
    width: 80%;
    margin-left: 10%;
  }
}

// .t4 > div {
//   height: 100%;
//   background: white;
//   position: relative;
//   & > div {
//     position: absolute;
//   }
// }

.t4 > section {
  height: 100%;
  background: white;
}

.past {
  border-top: 3px dotted #aaa;
  padding: 2em 2ch 0;
}

.posters {
  // position: fixed;
  // z-index: 1000;
  // background-color: green;
  // top: 0;
  // width: 100%;
  // height: 100%;
  // width: 200px;
  // margin: 0 auto;
  // aspect-ratio: 4/3;

  display: grid;
  // place-content: center;
  // place-items: 20px;
  // top: 20px;
  overflow: hidden;
  height: 70lvh;
  // max-width: 400px;
  grid-template-columns: repeat(4, 1fr);
  @media screen and (max-width: 576px) {
    grid-template-columns: repeat(3, 1fr) 0px;
  }

  & > * {
    display: grid;
    & > * {
      aspect-ratio: 9 / 12;
      // height: 20lvh;
      // min-height: 40lvh;
    }
  }

  @mixin past-poster($x, $y, $i) {
    & > :nth-child(#{$x}) > :nth-child(#{$y}) {
      background: url("./rsrc/concert#{$i}.jpg") center / cover;
    }
  }

  @include past-poster(1, 1, "01");
  @include past-poster(1, 2, "08");
  @include past-poster(1, 3, "03");
  @include past-poster(1, 4, "04");
  @include past-poster(1, 5, "02");
  @include past-poster(2, 1, "12");
  @include past-poster(2, 2, "06");
  @include past-poster(2, 3, "15");
  @include past-poster(2, 4, "07");
  @include past-poster(2, 5, "16");
  @include past-poster(3, 1, "20");
  @include past-poster(3, 2, "18");
  @include past-poster(3, 3, "11");
  @include past-poster(3, 4, "10");
  @include past-poster(3, 5, "17");
  @include past-poster(4, 1, "19");
  @include past-poster(4, 2, "14");
  @include past-poster(4, 3, "09");
  @include past-poster(4, 4, "13");
  @include past-poster(4, 5, "05");
}


.musicNote1 {
  top: 77%;
  left: 30%;
  width: 50px;
  aspect-ratio: 4/5;
  background: url("./rsrc/musicNote1.png") center / cover;
}

.musicNote2 {
  top: 72%;
  right: 37%;
  width: 28px;
  aspect-ratio: 1/2;
  background: url("./rsrc/musicNote2.png") center / cover;
}

.musicNote3 {
  top: 75%;
  left: 13%;
  width: 23px;
  aspect-ratio: 1/3;
  background: url("./rsrc/musicNote3.png") center / cover;
}

.musicNote4 {
  top: 76%;
  right: 15%;
  width: 43px;
  aspect-ratio: 3/4;
  background: url("./rsrc/musicNote4.png") center / cover;
}

.t5 > section {
  height: 100%;
  background: white;
  padding: 0 2ch;
}

.warped1 {
  width: 80%;
  margin-left: 10%;
  & > .mask1 {
    stroke-dasharray: 200;
    // stroke-dashoffset: 200;
  }
}

footer {
  padding: 2ch;
  margin: 1.5rem 0;
  text-align: center;
  border: 0.5rem solid lighten(#ea230c, 10%);
  border-left: none;
  border-right: none;
  background: #ea230c;
}
