// @use "../../utils/animUtils";
@use "../../utils/_animUtils" as animUtils;

// logo animation

// timings

#logo {
  width: 100vw;
  max-width: max(500px, 70lvh);
  aspect-ratio: 1 / 1;

  // prettier-ignore
  & .mask4 { @include animUtils.stroked(116, 1s, 0s); }
  // prettier-ignore
  & .mask3 { @include animUtils.stroked(62, 0.5s, 0.7s); }
  // prettier-ignore
  & .mask1 { @include animUtils.stroked(90, 0.8s, 1.2s); }
  // prettier-ignore
  & .mask2 { @include animUtils.stroked(12, 0.3s, 1.6s); }
  // prettier-ignore
  & .mask5 { @include animUtils.faded(0.5s, 2.7s); }
  // prettier-ignore
  & .mask6 { @include animUtils.faded(0.7s, 3s); }
  // prettier-ignore
  & .mask7 { @include animUtils.faded(1.2s, 3.3s); }
}
